@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --m-top: 4rem;
    --w-side: 18rem;
    --w-side-sm: 16rem;
}

.bg-facebook{
    background-color: rgb(2,132,199);
}
.text-destructive{
    color: rgb(248, 50, 50);
}
.bg-submit{
    background-color: rgb( 2, 132, 199);
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
/* ::-webkit-scrollbar-track {
   display: block;
} */


/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5555;
}